body {
    font-family: 'Roboto', sans-serif;
}

header,
.hero-container {
    background-color: #1F2937;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 150px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 18px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px;
    gap: 75px;
}

.hero-maintext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 14px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    margin-bottom: 14px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 36px;
    border: none;
    border-radius: 8px;
}

.hero-container img {
    width: 450px;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.card img {
    width: 150px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card p {
    text-align: center;
    font-size: 18px;
    color: #696969;
    width: 175px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 275px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    line-height: 1.2;
}

.quote-subtext {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    align-self: flex-end;
}